<app-menu></app-menu>
<img src="../../assets/smile.png">
<h2>Hello, world!</h2>
<p>
  My name is Eric Bambach, and I am an aspiring .NET developer.<br>
  After coding for several years as a supplement to my teaching<br>
  work, I am working to transition into the field as a professional.<br>
</p>
<h3>How I got here</h3>
<p>
	Prior to this change, I worked as a middle school teacher, during which time, <br>
	I frequently augmented my PowerPoint presentations with Visual Basic for Applications <br>
	(VBA) macros.  This allowed me to incorportate more interactive content into lessons, <br>
	allowing students to take a more active role in their education.<br>
	<br>
	
</p>